{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Student Registration</title>
</head>
<body>
  <nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="#">
      <img src="../static/images/logoImg.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      SaveText
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item ">
        <a class="nav-link active text-light" href="/">Logout</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link text-dark" href="#">Link</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link text-dark" href="#">Link</a>
      </li> -->
    </ul>
</nav>
    <form style="margin:50px; text-align:center" method="get" action="validateOTP">
        <h1 style="overflow-y: hidden;">Please Enter OTP to Check</h1>
        <div class="d-flex flex-row mt-5">
            <input type="text" name="input1" onclick="next_function()" placeholder="0" class="form-control" maxlength="1" style="margin: 5px; border:2px solid blue; text-align:center;font-weight:bold" autofocus="">
            <input type="text" name="input2"  placeholder="0" class="form-control" maxlength="1" style="margin: 5px; border:2px solid blue; text-align:center;font-weight:bold">
            <input type="text" name="input3"  placeholder="0" class="form-control" maxlength="1" style="margin: 5px; border:2px solid blue; text-align:center;font-weight:bold">
            <input type="text" name="input4"  placeholder="0" class="form-control" maxlength="1" style="margin: 5px; border:2px solid blue; text-align:center;font-weight:bold">
        </div>
        <button class="btn btn-primary" style="margin-top: 10vh;">Submit</button>
      </form>
    <footer class="page-footer font-small stylish-color-dark pt-4" style="background-color:  #4b4a49; color: #fff;">
        <footer class="page-footer font-small mdb-color lighten-3 pt-4" >
            <div class="container text-center text-md-left"style="background-color:  #4b4a49; color:#fff">
                <div class="row">
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                  <h5 class="font-weight-bold text-uppercase mb-4" style="overflow: hidden;">Graphic Era </h5>
                  <p>Established vide Act No 12 of 2011 of Uttarakhand State Legislature
                     University under Section 2(f) of the UGC Act, 1956 set up under the aegis of Graphic Era Educational Society, Dehradun.</p>
                  </div>
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                  <h5 class="font-weight-bold text-uppercase mb-4" style="overflow: hidden;">Address</h5>
                  <ul class="list-unstyled">
                    <li>
                      <p>
                        <i class="fas fa-home mr-3"></i> Dehradun,Uttrakhand,India</p>
                    </li>
                    <li>
                      <p>
                        <i class="fas fa-envelope mr-3"></i> geu@gmail.com</p>
                    </li>
                    <li>
                      <p>
                        <i class="fas fa-phone mr-3"></i>18008906027</p>
                    </li>
                    <li>
                      <p>
                        <i class="fas fa-print mr-3"></i>7500013334</p>
                    </li>
                  </ul>
                </div>
        </footer>
        <div class="footer-copyright text-center py-3">© 2021 Copyright:
            <a href="https://www.geu.ac.in/"> Graphic Era University(GEU)</a>
        </div>
    </footer>
    <script>
        function next_function(){
            console.log("hello world")
            $(".form-control").keyup(function () {
                if (this.value.length == this.maxLength) {
                  $(this).next('.form-control').focus();
                }
          });
        }
    </script>
</body>
</html>