{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Enrollment.css' %}?{% now 'U' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'javascript/Enrollment.js' %}?{% now 'U' %}" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <nav id="nav-bar">
        <header id="header-text">Online Face Recognition Attendance System</header>
    </nav>

    <div id="middle-context">
        <div id="left-panel">
            <form action="openWebCam" style="margin: 20px;" method="get">
                <div style="margin: 10px;">
                <label for="person" class="label-tt">Student Name:-</label>
                </div>
                <div style="margin: 10px;">
                    <select id="person" name="person" style="width: 80%; padding: 10px;">
                        {% for message in messages %}
                        <option style="color: blue; position: relative; left: 10%; font-size: 22px; text-decoration: none;
                         cursor:pointer;"
                            {% if message.tags %} class="{{ message.tags }}"{% endif %} id="{{ message }}" href="openWebCam">
                                {{ message }}
                        </option>
                    {% endfor %}
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
              </form>
        {% if value == True %}
                <h1>TRUE</h1>
        {% endif %}
        </div>
        <h2 class="intro-text">Enroll in System</h2>
    </div>
    <footer id="footer">
        <a href="home" class="navigation-text">Enrollment</a>

        <a href="\" class="navigation-text" >SignIn</a>
    </footer>

    <script>
        function loadInfo(msgID){
            console.log("function called:",msgID);
            var ele = document.getElementById(msgID).value;
            $.ajax({
                type: "GET",
                url: "/openWebCam",
                data: { 
                        file_name : msgID
                    },  
                success:  function(response){
                       console.log(response)
                   },
                error: function(e){
                    console.log(e)
                }
            });
        }
    </script>
</body>
</html>